<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Care Insurance</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/public/css/Header.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/public/images/LC2.png" alt="Life Care Insurance" />
            </div>
            <ul class="nav-links">
                <li><a href="/views/index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#">Our Products <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/views/whole-life-insurance.html">Whole Life Insurance</a></li>
                        <li><a href="/views/retirement-plan.html">Retirement Plan</a></li>
                        <li><a href="/views/medical-insurance.html">Medical Plan</a></li>
                        <li><a href="/views/group-plan.html">Group Plan</a></li>
                    </ul>
                </li>
                <li><a href="/views/about-us.html">About Us</a></li>
                <li><a href="/views/claims.html">Claims</a></li>
                <li><a href="/views/faq.html">FAQ</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="/views/registration.html" class="btn">Sign Up</a>
                <a href="login.html" class="btn">Login</a>
            </div>
        </nav>
    </header>
    <script src="/public/js/Header.js"></script>
</body>
</html>
