<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Care Insurance</title>
    <link rel="stylesheet" href="/public/css/Homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <!-- Header Section -->
    <div id="header-container"></div>

    <!-- Main Content Section -->
    <main>
        <!-- Image Carousel Section -->
        <section class="hero">
            <div class="carousel">
                <div class="carousel-images">
                    <img src="/public/images/home1.jpg" class="carousel-image" alt="Home 1">
                    <img src="/public/images/home2.jpg" class="carousel-image" alt="Home 2">
                    <img src="/public/images/home3.jpg" class="carousel-image" alt="Home 3">
                    <img src="/public/images/home4.jpg" class="carousel-image" alt="Home 4">
                </div>
            </div>
        </section>

        <section class="intro">
            <div class="intro-content">
                <h3 class="des">
                    <center><h1>Welcome to the world of "Life Care Insurance"</h1></center><br>Where your future is our top priority. At Life Care Insurance, we understand that life is full of uncertainties, and protecting your loved ones and securing your financial well-being is of utmost importance.
                    <br><br>
                    Our mission is simple: to provide you with peace of mind by offering comprehensive life insurance solutions tailored to your unique needs and circumstances.
                    <br><br>
                    Explore our website to learn more about the various life insurance options we offer, how they work, and how they can benefit you and your loved ones.
                    <br><br>
                    Thank you for choosing us as your partner in life insurance. Together, we will build a secure and thriving future for you and your family. Your journey to peace of mind begins here.
                </h3>
            </div>
            <img class="image5" src="/public/images/description.png" alt="Life Care Insurance Image">
        </section>
        
        <section class="plans">
            <div class="plan">
                <a href="/views/whole-life-insurance.html">
                    <img src="/public/images/wholelife.jpg" class="plan1" alt="Whole Life Insurance">
                </a>
                <h4>Whole Life Insurance</h4>
            </div>
            <div class="plan">
                <a href="/views/retirement-plan.html">
                    <img src="/public/images/Retirement.jpg" class="plan2" alt="Retirement Plan">
                </a>
                <h4>Retirement Plan</h4>
            </div>
            <div class="plan">
                <a href="/views/medical-insurance.html">
                    <img src="/public/images/medical.jpg" class="plan3" alt="Medical Plan">
                </a>
                <h4>Medical Plan</h4>
            </div>
            <div class="plan">
                <a href="/views/group-plan.html">
                    <img src="/public/images/group.jpg" class="plan4" alt="Group Plan">
                </a>
                <h4>Group Plan</h4>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
    <div id="footer-container"></div>

    <script src="/public/js/main.js"></script>
</body>
</html>
